body {
    background-color: lightgray;
    text-align: center;
}

.graph {
    background-color: white;
    margin: 0 auto
}

.tooltip {
    width: 150px;
    background-color: darksalmon;
    opacity: 0;
    border: 1px solid black;
    color: black;
    position: absolute
}